// 全域樣式
@import "./styles/variables";
@import "./styles/reset";
@import "./styles/global";

// 首頁樣式
@import "./styles/common";
@import 'slick-carousel/slick/slick.css';
@import 'slick-carousel/slick/slick-theme.css';

// 導覽列表
@import './styles/mega-menu';

// 購物車
@import './styles/cart';

// 會員頁面
@import './styles/member';

// 商品頁面
@import './styles/product';

//最新消息
@import './styles/news.module';

// 關於我們
@import './styles/about.module';

//課程相關

@import './styles/course';
@import './styles/about.module';



//地圖
@import './styles/map';





// 最重要的要放最後一個