// 全域樣式
@import "./styles/variables";
@import "./styles/reset";
@import "./styles/global";
@import "./styles/common";

// 導覽列表
@import './styles/mega-menu.module';

// 購物車
@import './styles/cart';

// 會員頁面
@import './styles/member';

// 商品頁面
@import './styles/product';

//最新消息
@import './styles/_news.module';

// 關於我們
@import './styles/about.module';

//課程相關

@import './styles/course';
@import './styles/about.module';



//地圖
@import './styles/map';





// 最重要的要放最後一個