$color--primary: #1c262c;
$color--background: #f0ebe2;
$color--black: #000000;
$max-card-width: 200px;

.ei-baked-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  // padding: 20px 24px;
  // margin-block: 20px;
  background-color: $color--background;
  // height: 100vh;
}

.card-grid {
  display: grid;
  max-width: 1100px;
  // width: 70%;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;
}

.ei-baked-card {
  position: relative;
  width: $max-card-width;
  height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.baked-background {
  background-position: center;
  background-size: cover;
  cursor: pointer;
  bottom: 0;
  filter: brightness(0.75) saturate(1.2) contrast(0.85);
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: filter 200ms linear, transform 200ms linear;
}
.baked-heading {
  margin-top: 0px;
  padding: 10px;
  color: white;
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  justify-content: center; 
  height: 100%; 
}

.ei-baked-card:hover .baked-background {
  transform: scale(1.05);
  filter: none;
}

.ei-baked-card-grid:hover > .ei-baked-card:not(:hover) .baked-background {
  filter: brightness(0.6) saturate(1) contrast(1.2) blur(5px);
}

.card-grid:hover > .ei-baked-card:not(:hover) .ei-content {
  filter: brightness(0.8) blur(2px);
}

.ei-content {
  padding: 10px;
  position: absolute;
  top: 0;
}

.baked-heading {
  margin-top: 0px;
  padding: 10px;
  color: white;
  font-size: 1.8rem;
}
.baked-card-content {
  margin-top: 50px;
  padding-inline: 0 !important;
}

@media (max-width: 391px) {
  .ei-selected-card-content{
    max-width: 390px;
  }
  .ei-baked-card {
    max-width: 150px;
    max-height: 300px;
    margin: 0 auto;
    // padding-inline: 20px;
  }

  .baked-background {
    max-width: 100%;
    max-height: 100%;
  }
}
