//color
$color-black: #000;
$color-gray: #808080;
$color-lightgray: #E0E0E0;

//圓角
$border-circle: 100%;
//寬度
$width-sm: 60px;
$width-md: 80px;
$width-lg: 100px;
//文字
$fs-sm: 1rem;
$fs-md: 1.25rem;
$fs-lg: 1.5rem;
$fs-xl: 2rem;

$fw-regular:400;
$fw-bold:700;
$fw-black:900;

.background{
    // background-color: #69782e
}

.steps{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding-block: 1rem;
  
    .step{
        padding: 1.5rem;

        .stepTop{
            display: flex;
            justify-content: center;
            align-items: center;
            padding-bottom: 1rem;
    
            .stepCircle{
                width: $width-sm;
                height: $width-sm;
                border-radius: $border-circle;
            }
            .circleBlue{
                background-color: $color--primary;
            }
            .circleGray{
                background-color: $color-lightgray;
                border: 2px solid $color-gray;
            }
    
            .setNum{
                position: absolute;
                font-size: $fs-xl;
                font-weight: $fw-bold;
                text-align: center;
            }
            .setnumWhite{
                color: $color--white;
            }
            .setnumGray{
                color: $color-gray;
            }
        }  
    
        .stepFont{
            font-size: $fs-md;
            font-weight: $fw-regular;
        }
        .stepfontBlue{
            color: $color--primary;
        }
        .stepfontGray{
            color: $color-gray;
        }
    }

    .stepArrow{
        width: 1.25rem;
        height: 1.25rem;
    }
    .arrowBlue{
        color: $color--primary;
    }

    .arrowGray{
        color: $color-lightgray;
    }
}

.cartlist{
    padding-block: 1rem;
    
    // 空購物車
    div.emptyContainer{
        margin-block: 2rem;
        img{
            width: 20vw;
        }
        div.emptyTitle{
            padding-block: 1rem;
            font-size: $fs-lg;
            color: $color--primary;
            font-weight: $fw-bold;
        }
        button.goshop{
            background-color: $color--secondary;
            color: $color--white;
            width: 30vw;
            height: 2.5rem;
            &:hover{
                background-color: $color--primary;
            }
        }
    }

    table{
        margin-bottom: 2rem;
    }

    // 咖啡商品
    table.products{
        padding-block: 1rem;
        width: 100%;
        color: $color--primary;
        
        thead.productsLabels{
            border: 1px solid $color--primary;
            background-color: $color-lightgray;
            font-size: $fs-sm;
            font-weight: $fw-bold;
            tr{
               
                th{
                    padding-block: 1rem;
                    padding-inline: 0.5rem;
                    vertical-align: middle;
                    text-align: center;
                    min-width: 80px;
                }
            }
        }

        tbody.productsItem{
            border: 1px solid $color--primary;
            margin-block: 16px;

            tr{   
                border-bottom: 1px solid $color--primary;
                td{
                    padding-block: .5rem;
                    padding-inline: .5rem;
                    text-align: center;
                }
                
                td.imgContainer{
                    width: 160px;
                    height: 160px;
                    img{
                        box-sizing: border-box;
                        background-color: $color--primary;
                        border: .4rem solid #CBB48B;
                    }
                }
                td.quantity {
                    div.btn-group{
                        button {
                            width: 2.5rem;
                            height: 2.5rem;
                            color: $color--primary;
                            background-color: $color--background;
                            border: 1px solid $color--primary;
                        }
                        button.quantityMinus, button.quantityAdd{
                            &:hover,&:active {
                                color:$color--white;
                                background-color: $color--secondary;
                                border: px solid $color--primary;
    
                              }
                        }
                       
                        input.forminput{
                            width: 3.5rem;
                            height: 2.5rem;
                            border-block: 1px solid $color--primary;
                            text-align: center;
                            background-color: $color--background;
                        }
                    }
                }

                td.productdelete{
                    text-align: center;
                    vertical-align: middle;
                    button.deleteButton{
                        width: 2.5rem;
                        height: 2.5rem;
                        padding: 0;

                        &:hover,&:active{
                            border: 1px solid $color--primary;
                            background-color: $color--secondary;
                            color:$color--white;
                        }

                        .trash{
                            width: 1.5rem;
                            height: 1.5rem;
                          
                        }
                    }

                }
                &:hover{
                    background-color: $color--gray6;
                }
            }
            
        }

        tfoot{
            border: 1px solid $color--primary;
            height: 50px;
            padding: 2rem;
            font-size: $fs-md;
            font-weight: $fw-bold;
         
            tr.productTotal{
                td.total{
                    vertical-align: middle;
                    
                }
                
            }
        }
    }

    // 課程商品
    table.courses{
        padding-block: 1rem;
        width: 100%;
        color: $color--primary;

        thead.coursesLabels{
            border: 1px solid $color--primary;
            background-color: $color-lightgray;
            font-size: $fs-sm;
            font-weight: $fw-bold;
            tr{
                th{
                    padding-block: 1rem;
                    padding-inline: 0.5rem;
                    vertical-align: middle;
                    text-align: center;
                    min-width: 80px;
                   
                }
            }
        }
        tbody.coursesItem{
            border: 1px solid $color--primary;
            margin-block: 16px;

            tr{   
                border-bottom: 1px solid $color--primary;
                &:hover{
                    background-color: $color--gray6;
                }

                td{
                    padding-block: .5rem;
                    padding-inline: .5rem;
                    text-align: center;
                }
                td.imgContainer{
                    width: 160px;
                    height: 160px;
                    img{
                        box-sizing: border-box;
                        background-color: $color--primary;
                        border: .4rem solid #CBB48B;
                    }
                }
                td.productdelete{
                    text-align: center;
                    vertical-align: middle;
                    button.deleteButton{
                        width: 2.5rem;
                        height: 2.5rem;
                        padding: 0;
                        
                        &:hover,&:active{
                            border: 1px solid $color--primary;
                            background-color: $color--secondary;
                            color:$color--white;
                        }
                        .trash{
                            width: 1.5rem;
                            height: 1.5rem;
                        }
                    }

                }
                &:hover{
                    background-color: $color--gray6;
                }
            }
            
        }
        tfoot{
            border: 1px solid $color--primary;
            height: 50px;
            padding: 2rem;
            font-size: $fs-md;
            font-weight: $fw-bold;

            tr.courseTotal{
                td.total{
                    vertical-align: middle;
                   
                } 
            }
        }
    }

    //選擇與合計
    div.selectItems{
        gap: 2rem;

        //選擇運送與付款方式
        table.selectContainer{
            box-sizing: border-box;
            width: 100%;
            color: $color--primary;
            
    
            thead.Labels{
                border: 1px solid $color--primary;
                background-color: $color-lightgray;
                font-size: $fs-sm;
                font-weight: $fw-bold;
    
                tr{
    
                    th{
                        padding-block: 1rem;
                        padding-inline: 0.5rem;
                        vertical-align: middle;
                        min-width: 80px;
                       
                    }
                }
            }
    
            tbody.selectItem{
                border: 1px solid $color--primary;
                
                tr{
                    display: flex;
                    align-items: center;
                    
                    td.selectContainer{
                        padding-block: .8rem;
                        padding-inline: 1rem;
                        
                        label.selecTitle{
                            padding-bottom: .5rem;
                        }

                        select.form-select{
                            
                            border: 1px solid $color--primary;
                            // &:hover{
                            //     border: 1px solid $color--secondary;
                            //     color: $color--secondary;
                            // }
                        }
                        
                    }
                }
               
            }
        }
        
        //付款資訊
        table.paymentContainer{
            width: 100%;
            color: $color--primary;
            
    
            thead.Labels{
                border: 1px solid $color--primary;
                background-color: $color-lightgray;
                font-size: $fs-sm;
                font-weight: $fw-bold;
    
                tr{
    
                    th{
                        padding-block: 1rem;
                        padding-inline: 0.5rem;
                        vertical-align: middle;
                        min-width: 80px;
                       
                    }
                }
            }
    
            tbody.paymentItem{
                border: 1px solid $color--primary;
    
                tr{ 
    
                    td{
                        
                        

                        button.goCheckout{
                            width: 100%;
                            background-color: $color--secondary;
                            color: $color--white;
                            font-weight: $fw-black;
                            font-size: $fs-md;
                            &:hover{
                                background-color: $color--primary 
                            }
                        }

                        
                        
                    }
                    
                    td.selectContainer{
                        padding-block: .8rem;
                        padding-inline: 1rem;
                        
                        div.label-item{
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                        
                        }
                        select.form-select{
                            width: 60%;
                            border: 1px solid $color--primary;
    
                        }
                    }

                    
                }
            }
            
            
        }
    }

}


div.memberItems{
    // border: 1px solid red;
    gap: 2rem;

    table.memberContainer{
        box-sizing: border-box;
        width: 100%;
        color: $color--primary;


        thead.Labels{
            border: 1px solid $color--primary;
            background-color: $color-lightgray;
            font-size: $fs-sm;
            font-weight: $fw-bold;
            tr{
    
                th{
                    padding-block: 1rem;
                    padding-inline: 0.5rem;
                    vertical-align: middle;
                    min-width: 80px;
                   
                }
            }
        }
        
        tbody.memberbody{
            border: 1px solid $color--primary;
            margin-block: .5rem;
            
            tr{
                display: flex;
                align-items: center;
                
                td.memberContainer{
                    padding-block: .5rem;
                    padding-inline: 1rem;
                    
                    label.inputTitle{
                        // border: 1px solid green;
                        padding-bottom: .5rem;
                        
                    }
                    
                    input.form-control{
                        box-sizing: border-box;
                        border: 1px solid $color--primary;
                        
                        &:active,&:hover{
                            border: 1px solid $color--secondary;
                            color: $color--secondary;
                        }
                    }
                    
                }
            }
           
        }
    }

    
}

div.btngroup{
    gap: 2rem;
    button.backStep{
        background-color: $color--gray4;
        color: $color--white;

    }
    button.sendOrder{
        background-color: $color--secondary;
        color: $color--white;
    }

}



