//color
$color-black: #000;
$color-gray: #808080;
$color-lightgray: #E0E0E0;

//圓角
$border-circle: 100%;
//寬度
$width-sm: 60px;
$width-md: 80px;
$width-lg: 100px;
//文字
$fs-sm: 1rem;
$fs-md: 1.25rem;
$fs-lg: 1.5rem;
$fs-xl: 2rem;

$fw-regular:400;
$fw-bold:700;
$fw-black:900;

.background{
    // background-color: #69782e
}

.steps{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding-block: 1rem;
  
    .step{
        padding: 1.5rem;

        .stepTop{
            display: flex;
            justify-content: center;
            align-items: center;
            padding-bottom: 1rem;
    
            .stepCircle{
                width: $width-sm;
                height: $width-sm;
                border-radius: $border-circle;
            }
            .circleBlue{
                background-color: $color--primary;
            }
            .circleGray{
                background-color: $color-lightgray;
                border: 2px solid $color-gray;
            }
    
            .setNum{
                position: absolute;
                font-size: $fs-xl;
                font-weight: $fw-bold;
                text-align: center;
            }
            .setnumWhite{
                color: $color--white;
            }
            .setnumGray{
                color: $color-gray;
            }
        }  
    
        .stepFont{
            font-size: $fs-md;
            font-weight: $fw-regular;
        }
        .stepfontBlue{
            color: $color--primary;
        }
        .stepfontGray{
            color: $color-gray;
        }
    }

    .arrow{
        width: 1.25rem;
        height: 1.25rem;
    }
    .arrowBlue{
        color: $color--primary;
    }
    .arrowGray{
        color: $color-lightgray;
    }
}


.carts{
    padding-block: 1rem;
    
    thead.cartLabels{
        border: 1px solid $color--primary;
        background-color: $color-lightgray;
        font-size: $fs-sm;
        tr{
        
            th{
                padding-block: 1rem;
                padding-inline: 0.5rem;
                vertical-align: middle;
                text-align: center;
                min-width: 80px;
            }
        }
    }
    tbody.cartProducts{
        border: 1px solid $color--primary;

        tr{   
         
            td{
                padding: .5rem;
                text-align: center;
                .quantity {
                    text-align: center;
                    display: flex;
                    align-items: center; /* 將內容在垂直方向上居中對齊 */
                    justify-content: center; /* 將內容在水平方向上居中對齊 */
                  }
                
                button{
                    width: 32px;
                    height: 32px;
                    color: $color--white;
                    border: 1px solid $color--primary; 
                    // transition: background-color 0s, color 0.3s; 
                    color: $color--primary;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
                .quantityMinus:active,.quantityMinus:hover,.quantityAdd:active,.quantityAdd:hover {
                    background-color: $color--secondary; 
                }
                .btn-icon{
                    width: 32px;
                    height: 32px;
                }
                .btn-icon:active,:hover{
                    background-color: $color--secondary; 
                    color: $color--white;
                }
                input{
                    width: 60px;
                    height: 32px;
                    border: 1px solid $color--primary; 
                    text-align: center;
                    background-color: $color--background;
                }
                
            }
            
        }
        :hover{
            background-color: $color--gray6;
        }
        
    }
}