// navbar setting
nav.bg-dark{
    background-color: $color--primary !important;
  }

a.nav-link {
    color: #ffffff !important; 
    &:hover {
        color: #ffffff !important;
    }
    &:active{
        color: #ffffff !important;
    }
    &:visited{
        color: #ffffff !important;
    }
}
.ed-padding-x{
    padding-left: 4em;
    padding-right: 3em;
  }

@media screen and (max-width: 992px) {
    nav.bg-dark{
      background-color: #ffffff !important;
    }
    a.nav-link {
        margin-bottom: 0.5em;
        color: #1C262C !important; 
        &:hover {
            color: #1C262C !important;
        }
        &:active{
            color: #1C262C !important;
        }
        &:visited{
            color: #1C262C !important;
        }
    }
    .ed-padding-x{
        padding-left: 1em;
        padding-right: 0em;
        margin-top: 1em;
        margin-bottom: 1em;
        border-bottom: black solid 0.5px;
      }
      button.navbar-toggler {
        margin-left: 4px;
        border: none;
      }
      ul.navbar-nav {
        width: 240px;
        height: 940px;
        position: absolute;
        top: 0px;
        background-color:rgba($color: #dadada, $alpha: 1);
        z-index: 100;
      }
      .dropdown-menu {
        border: none;
        margin-bottom: 10px;
        background-color:rgba($color: #000000, $alpha: 0);
      }
  }