.ed-navbar {
  $_: &;
  width: 100%;
  height: $height__navbar;

  background: rgba($color: #ffffff, $alpha: 0);
  box-shadow: none;
  border-radius: 0;

  display: flex;
  align-items: center;

  transition: $transition;
  z-index: 1100 !important;

  &::after {
    content: '';
    width: 100%;
    height: 100%;

    background: $color--background;
    border-radius: 0;
    transition: $transition;

    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }

  &__wrapper {
    height: 100%;
    display: flex;
    align-items: center;
  }

  &--desktop {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    #{$_}__items {
      display: flex;
      align-items: center;
    }
    #{$_}__actions {
      display: flex;
      align-items: center;
    }
    #{$_}__item {
      padding: 0.75rem 0;
      margin-right: 1rem;
    }
    #{$_}__btn {
      &:last-of-type {
        #{$_}__icon {
          margin: 0;
        }
      }
    }
    #{$_}__link {
      position: relative;
      &::after {
        content: '';
        width: 0.5rem;
        height: 0.5rem;

        background: $color--secondary;
        border-radius: 50%;

        position: absolute;
        top: 110%;
        left: 50%;
        transform: translateX(-50%);

        transition: $transition;
        opacity: 0;
      }
      &:hover {
        &::after {
          opacity: 1;
          top: 90%;
        }
      }
      &.active {
        &::after {
          content: '';
          width: 0.5rem;
          height: 0.5rem;

          background: $color--secondary;
          border-radius: 50%;

          position: absolute;
          top: 90%;
          left: 50%;
          transform: translateX(-50%);

          opacity: 1;
        }
        #{$_}__font {
          white-space: nowrap;
          color: $color--secondary;
        }
      }
    }
  }
  #{$_}__logo {
    width: 180px;
    height: 2.25rem;
    // margin-right: 5rem;

    transition: $transition;
    opacity: 1;
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
    @media screen and (max-width: $md) {
      margin-right: 0;
    }
  }
  &__font {
    white-space: nowrap;
    color: $color--primary;

    display: inline-block;
    transition: $transition;
    &:hover {
      color: $color--warning;
    }
  }
  &__icon {
    width: $size__icon-btn;
    height: $size__icon-btn;
    padding: 0.625rem;
    margin-right: 0.5rem;

    color: $color--primary;
    font-size: 1.3rem;

    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
    &::before {
      width: $size__icon;
      height: $size__icon;
    }
    &:last-of-type {
      margin-right: 0;
    }
  }
  &--mobile {
    display: flex;
    justify-content: center;
    align-items: center;
    #{$_}__menu {
      height: 100%;
      width: 100%;

      background: transparent;

      transition: $transition__navbar-menu;

      position: fixed;
      top: calc(-100% + $height__navbar);
      left: 0;

      display: flex;
      justify-content: center;
      align-items: center;
      &::after {
        content: '';
        width: 100%;
        height: 100%;

        background: $color--background;
        border-radius: 0;
        transition: $transition;

        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
      }
      #{$_}__link {
        position: relative;
        &::after {
          content: '';
          width: 0.5rem;
          height: 0.5rem;

          background: $color--secondary;
          border-radius: 50%;

          position: absolute;
          top: 50%;
          right: 100%;
          transform: translateY(-50%);

          transition: $transition;
          opacity: 0;
        }
        &.active {
          &::after {
            content: '';
            width: 0.5rem;
            height: 0.5rem;

            background: $color--secondary;
            border-radius: 50%;

            position: absolute;
            top: 50%;
            right: 100%;
            transform: translateY(-50%);

            opacity: 1;
          }
          #{$_}__font {
            white-space: nowrap;
            color: $color--secondary;
          }
        }
      }
    }
    #{$_}__list {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      transition: $transition__navbar-menu;
      opacity: 0;
      transform: translate3d(0, -10%, 0);
    }
    #{$_}__toggle {
      position: absolute;
      z-index: 2;
      top: 1.125rem;
      right: 1rem;
    }
    #{$_}__font {
      z-index: 2;
    }
    #{$_}__item {
      padding: 0rem;
      margin-bottom: 1rem;
      position: relative;
      z-index: 10;
      &:nth-child(3) {
        margin-top: 12px;
      }
      &:nth-child(4) {
        margin-top: 12px;
      }
      &:nth-child(5) {
        margin-top: 12px;
      }
      &:nth-child(6) {
        margin-top: 12px;
      }
      &:last-of-type {
        margin-bottom: 0;
      }
    }
    #{$_}__btn {
      display: flex;
      align-items: center;
    }
    #{$_}__icon {
      padding: 0;
      margin: 0.5rem;
      &--inline {
        width: max-content;
        height: max-content;
      }
    }
    #{$_}__check {
      &:checked {
        & ~ #{$_}__menu {
          top: 0;
          border-radius: 0;
          &::after {
            border-radius: 0 !important;
          }
        }
        & ~ #{$_}__logo {
          opacity: 0;
        }
        & ~ #{$_}__menu #{$_}__list {
          opacity: 1;
          transform: translate3d(0, 0, 0);
          position: absolute;
          z-index: 10;
        }
        & ~ #{$_}--scroll {
          &::after {
            border-radius: 0 !important;
            background: $color--primary;

            transition: $transition;
          }
        }
      }
    }
  }
  &--scroll {
    transition: $transition;
    &::before {
      content: '';
      width: 100%;
      height: 100%;
      background-image: none;

      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;

      opacity: 0;
      transition: $transition__navbar-menu;
    }
    &::after {
      content: '';
      width: 100%;
      height: 100%;

      background: $color--primary !important;
      box-shadow: $box-shadow__navbar !important;
      border-radius: $border-radius__navbar !important;

      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;

      transition: $transition;
    }
    #{$_}__font,
    #{$_}__icon {
      white-space: nowrap;
      color: $color--white;
      @media screen and (max-width: $lg) {
        color: $color--white !important;
      }
    }
    #{$_}__menu {
      &::after {
        background: $color--primary;
        box-shadow: $box-shadow__navbar !important;
        border-radius: $border-radius__navbar !important;
      }
    }
  }
}

.dropdown {
  padding-inline: 10px;
  margin-inline: 0px;
  @media screen and (max-width: $lg) {
    padding: 10px;
    margin-block: 0.2rem;
  }

  &:hover {
    color: $color--primary;
  }

  ul {
    inset: 10px auto auto 10px !important;
    transform: translate3d(0px, 18px, 0px) !important;
    @media screen and (max-width: $lg) {
      inset: auto !important;
    }
    & li {
      margin-block: 5px;
      @media screen and (max-width: $lg) {
        margin-block: 0;
      }
    }
    & li a:hover {
      color: $color--white !important;
      background-color: $color--primary;
      @media screen and (max-width: $lg) {
        color: $color--secondary !important;
        background-color: transparent;
      }
    }
    & li a:active {
      color: $color--white !important;
      background-color: $color--primary;
      @media screen and (max-width: $lg) {
        color: $color--secondary !important;
        background-color: transparent;
      }
    }
  }
}
.dropdown-item.active {
  color: $color--white !important;
  background-color: $color--primary !important;
  @media screen and (max-width: $lg) {
    color: $color--secondary !important;
    background-color: transparent !important;
  }
}

.dropdown-item {
  padding-block: 10px;
  @media screen and (max-width: $lg) {
    text-align: center;
    font-size: 18px;
    padding: 0rem;
    margin-bottom: 1rem;
    color: $color--primary !important;
  }
}

.expandable-menu {
  display: none;
}

input:checked + label + .expandable-menu {
  display: block;
}

.ed-tag {
  background: #b29e7a;

  @include text--extra-small;
  color: $color--background;
  white-space: nowrap;

  display: flex;
  justify-content: center;
  align-items: center;
  &--corner {
    width: 1.2rem;
    height: 1.2rem;
    border-radius: 50%;
    @include text--small-bold;
    color: $color--background;

    position: absolute;
    top: 0;
    right: 0;
  }
  &--normal {
    width: max-content;
    height: max-content;
    padding: 0.25rem 0.75rem;
    border-radius: 10rem;
  }
  &--floating {
    position: absolute;

    top: 25%;
    bottom: auto;
    left: 65%;
    right: auto;
    transform: translate(-50%, -50%);
    @media screen and (min-width: $md) {
      top: 40%;
      left: 80%;
    }
  }
  &--breakfast {
    background: $color--secondary;
  }
  &--lunch {
    background: $color--error;
  }
  &--dinner {
    background: $color--hover;
  }
  &--others {
    background: $color--analogous1;
  }
}

.ed-hr {
  height: $height__line !important;
  margin: 0;
  opacity: 1;
  &--navbar {
    width: 10rem;
    background: $color--gray4;
  }
  &--divider {
    width: 100%;
    background: $color--gray5;
  }
  &--primary {
    width: 100%;
    background: $color--primary;
  }
  &--secondary {
    width: 100%;
    background: $color--secondary;
  }
}

.ed-header {
  padding: 2.5rem 0;
  &__title {
    width: 100%;
    height: max-content;
    padding-bottom: 0.5rem;

    border-bottom: 0.125rem solid $color--gray5;

    display: flex;
    align-items: center;
    justify-content: space-between;

    position: relative;
    &::before {
      content: '';
      width: 25%;
      height: $height__line;
      background: $color--secondary;

      position: absolute;
      left: 0;
      bottom: -0.125rem;
      @media screen and (max-width: $sm) {
        width: 60%;
      }
    }
  }
  &__text {
    margin-left: 1rem;
  }
  &__sort {
    display: flex;
    align-items: center;
  }
  &__select {
    width: max-content;
    height: $height__btn--meduim;
    padding: 0;
    margin-right: 1rem;

    border: none;
    background-image: none;
    box-shadow: none;
    &:focus,
    &:active {
      box-shadow: none;
      outline: none;
    }
  }
  &__select-wrapper {
    width: max-content;
    height: max-content;

    position: relative;
    &::before {
      @include icon--absolute('\f0dc');
      color: $color--secondary;
      font-size: 1.2rem;

      top: 50%;
      left: -1rem;
      transform: translateY(-50%);
    }
  }
  &__action {
    width: max-content;

    white-space: nowrap;
  }
}

.ed-breadcrumb {
  $_: &;
  margin-bottom: 1rem;

  display: flex;
  align-items: center;
  &__list {
    display: flex;
  }
  &__item {
    &:first-of-type {
      margin-right: 0;
      #{$_}__link::before {
        content: '';
        display: none;
      }
    }
  }
  &__link {
    margin-right: 1.5rem;

    @include text--small;
    color: $color--gray3;

    @include interaction__link;

    position: relative;
    display: inline-block;

    &::before {
      @include icon--absolute('\f105');
      color: $color--gray4;
      font-size: 1rem;

      top: 50%;
      left: -0.6rem;
      transform: translate(-50%, -50%);
    }
    &.active {
      color: $color--active;
      &:hover {
        color: $color--active;
      }
    }
  }
}

.e-icon {
  font-size: 1rem;
  &--left {
    margin-right: 0.5rem;
  }
  &--left-large {
    margin-right: 0.5rem;
  }
  &--primary {
    color: $color--primary;
  }
  &--secondary {
    color: $color--secondary;
  }
  &--btn {
    font-size: 1.5rem;
  }
  &--light {
    color: $color--background;
  }
  &--medium {
    font-size: 1.25rem;
  }
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

.model {
  position: relative;
  &__head {
    margin-bottom: 35px;
    &--deco-text {
      font-size: 1.5rem;
      line-height: 1;
      letter-spacing: 10px;
      color: rgba(107, 156, 102, 0.2);
      margin-bottom: 15px;
      @media screen and (max-width: $xxl) {
        font-size: 1.2rem;
        letter-spacing: 8px;
      }
      @media screen and (max-width: $sm) {
        font-size: 16px;
        letter-spacing: 5px;
        margin-bottom: 10px;
      }
    }
    &--title {
      font-size: 2rem;
      font-weight: bold;
      line-height: 3rem;
      letter-spacing: 3px;
      color: $color--primary;
      @media screen and (max-width: $xxl) {
        font-size: 1.8rem;
        line-height: 2.8rem;
      }
      @media screen and (max-width: $sm) {
        font-size: 24px;
        line-height: 1.5;
        font-weight: 600;
      }
    }
    &--subtitle {
      font-size: 1.125rem;
      letter-spacing: 3px;
      line-height: 1.6rem;
      color: #555555;
      margin-top: 10px;
      font-weight: 500;
      @media screen and (max-width: $xxl) {
        font-size: 1.1rem;
        line-height: 1.6rem;
      }
      @media screen and (max-width: $sm) {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 2px;
      }
    }
    &--sec {
      text-align: center;
      position: relative;
      &::before {
        content: '';
        width: 1px;
        height: 85px;
        background: rgba(107, 156, 102, 0.6);
        position: absolute;
        left: 50%;
        transform: translate(-1px, calc(-100% - 15px));
      }
      &::after {
        content: '';
        width: 5px;
        height: 30px;
        position: absolute;
        left: 50%;
        top: 0;
        background: #6b9c66;
        transform: translate(calc(-50% - 1px), calc(-100% - 15px));
      }
    }
  }
}

.ed-pageBanner {
  overflow: hidden;
  @media screen and (max-width: $md) {
    height: auto;
  }
  .carousel-item.active {
    animation: move 2s ease-in-out alternate;
    transform: scale(1);
  }
}
@keyframes move {
  0% {
    transform: scale(1.2);
    opacity: 0;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.ed-floating-icon {
  $_: &;
  z-index: 1;
  #{$_}__btn {
    background: $color--primary;
    border: none;
    box-shadow: $box-shadow--active;
  }
  &--member {
    @media screen and (max-width: $lg) {
      width: 100%;
      height: 10rem;

      background: $color--gradient;

      position: fixed;
      left: 0;
      bottom: 0;
      #{$_}__btn {
        width: $diameter__floating-icon;
        height: $radius__floating-icon;

        border-top-left-radius: $radius__floating-icon;
        border-top-right-radius: $radius__floating-icon;

        position: absolute;
        left: 50%;
        bottom: 0;
        transform: translateX(-50%);

        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
  &--product {
    width: 100%;
    height: 10rem;

    background: $color--gradient;

    position: fixed;
    left: 0;
    bottom: 0;
    @media screen and (min-width: $lg) {
      width: max-content;
      height: max-content;

      background: transparent;

      top: 50%;
      left: auto;
      right: $radius__floating-icon;
      bottom: auto;
      transform: translateY(-50%);
    }
    #{$_}__btn {
      width: $diameter__floating-icon;
      height: $radius__floating-icon;

      border-top-left-radius: $radius__floating-icon;
      border-top-right-radius: $radius__floating-icon;

      position: absolute;
      left: 50%;
      bottom: 0;
      transform: translateX(-50%);

      display: flex;
      justify-content: center;
      align-items: center;

      @include cursor(pointer);
      // cart-right/ chat-right的cart
      @media screen and (min-width: $lg) {
        width: $radius__floating-icon;
        height: $diameter__floating-icon;

        border-top-left-radius: $border-radius__btn;
        border-bottom-left-radius: 0;
        border-top-right-radius: 0;

        top: calc(50% - $radius__floating-icon);
        right: 0;
        transform: translateY(-50%);
      }
    }
  }
  &--chat {
    #{$_}__btn {
      width: $radius__floating-icon;
      height: $diameter__floating-icon;

      border-top-left-radius: $border-radius__btn;
      border-bottom-left-radius: $border-radius__btn;
      border-top-right-radius: 0;

      z-index: 20;

      position: fixed;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      @media screen and (max-width: $lg) {
        border-top-left-radius: $border-radius__btn;
        border-bottom-left-radius: $border-radius__btn;

        top: 50%;
      }
    }
  }
  // cart-right/ chat-right的chat
  &--product-desktop {
    #{$_}__btn {
      border-top-left-radius: 0 !important;

      top: calc(50% + $radius__floating-icon) !important;
    }
  }
  // cart-bottom/ chat-right的chat
  &--product-mobile {
    #{$_}__btn {
      @media screen and (max-width: $lg) {
        border-top-left-radius: $border-radius__btn !important;
        top: 50% !important;
      }
    }
  }
  &__icon {
    font-size: 2rem;
    color: $color--background;
  }
}

.ed-floating-menu {
  $_: &;
  position: fixed;
  z-index: 1030;

  width: 100vw;
  height: 100vh;

  bottom: 0;
  left: 0;
  &__content {
    background: $color--background;
    box-shadow: $box-shadow__block;
    border-radius: $border-radius__block;

    overflow: hidden;

    position: absolute;
  }
  &--member {
    #{$_}__content {
      @media screen and (max-width: $lg) {
        width: 100%;
        height: max-content;
        padding: 1rem;

        bottom: 0;
        left: 0;
        z-index: 1;
      }
    }
  }
  &--product {
    #{$_}__content {
      width: 100%;
      height: $height__floating-menu;
      padding: 1rem;

      bottom: 0;
      left: 0;
      z-index: 1;
      @media screen and (min-width: $lg) {
        width: $width__floating-menu;
        height: $height__floating-menu;

        top: 50%;
        left: auto;
        right: $radius__floating-icon + 1rem;
        bottom: auto;
        transform: translateY(-50%);
      }
    }
  }
  &--chat {
    #{$_}__content {
      width: 100vw;
      height: 100vh;

      border-radius: 0;

      top: 0;
      bottom: auto;
      left: 0;
      right: auto;
      @media screen and (min-width: $md) {
        width: $width__floating-menu;
        height: $height__floating-menu;

        border-radius: $border-radius__block;

        top: 50%;
        left: auto;
        right: $radius__floating-icon + 1rem;
        bottom: auto;
        transform: translateY(-50%);
      }
    }
  }
  &__bg {
    width: 100%;
    height: 100%;

    background: transparent;

    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
}

.ed-counter {
  $_: &;
  width: 156px;
  height: 30px;
  font-size: 20px;
  font-weight: 500;
  height: $height__input;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid $color--primary;
  &__btn {
    height: 44px;
    background: #f0ebe2;
    border: 1px solid $color--primary;
    &:hover {
      color: white;
      background-color: $color--secondary;
    }
    #{$_}__icon {
      color: $color--primary;
      font-size: 1.25rem;
      &:hover {
        color: white;
      }
    }
  }
  @media screen and (max-width: $md) {
    #{$_}__icon {
      font-size: 0.875rem;
    }
  }
}

/*scrollTop Button*/
.MuiButton-root.MuiButtonBase-root {
  font-size: 30px;
  color: #1c262c;
  position: fixed;
  right: 15px;
  z-index: 93;
  bottom: 5rem;
  border-radius: 99rem;
  padding: 0;
  min-width: initial;
  svg {
    background-color: #fff;
    border-radius: 99rem;
  }
  &:hover {
    background-color: transparent !important;
  }
}

.transition-btn {
  transition: 0.5s ease all;
}

/*sample img*/
.empty_img {
  margin: auto;
  opacity: 0.2;
  display: flex;
  flex-direction: column;
  gap: 30px;
  text-align: center;
  margin-top: 50px;
  img {
    width: 200px;
    margin: auto;
  }
  &--not-found {
    margin-top: 0;
    opacity: 1;
  }
}

// index setting
.slick-slider {
  width: 100%;
  height: calc(100vh - 134px);
  overflow: hidden;
}
.slick-dots {
  right: -700px;
  bottom: 4%;
  transform: translateY(50%);
  flex-direction: column;
  left: auto;

  & li {
    margin-inline: 10px;

    & button:before {
      font-size: 20px;
    }
    & button:hover:before {
      color: #eee5d0;
    }

    &.slick-active {
      & button:before {
        color: #eee5d0;
      }
    }
  }
}
.img-container {
  position: relative;
  width: 100%;
  max-width: 1920px;
}
.img-container img {
  width: 100%;
  height: auto;
}
.ed-img-size-1 {
  display: block;
  max-width: 100%;
}
.ed-img-size-2 {
  display: block;
  max-width: 100%;
}
#company-buy {
  width: 1940px;
}
.ed-index {
  padding-inline: 24px;
  margin-top: 60px;
}
.ed-index-origin {
  margin-top: 60px;
}
.ed-index-course {
  margin-top: 40px;
}
.hot-product {
  font-size: 24px;
  text-align: center;
  padding: 20px;
  letter-spacing: 10px;
}
.hot-product-wrapper {
  display: flex;
  max-width: 800px;
  align-items: center;
  margin: auto;
}
.origin-wrapper {
  display: flex;
  max-width: 800px;
  align-items: center;
  margin: auto;
}
.line {
  flex-grow: 1;
  height: 1px;
  background-color: $color--gray3;
}
.line-white {
  flex-grow: 1;
  height: 1px;
  background-color: $color--primary;
}
.ed-orgin-text {
  font-size: 20px;
  line-height: 40px;
  letter-spacing: 2px;
  padding-inline: 130px;
  @media screen and (max-width: 1440px) {
    line-height: 30px;
    padding-inline: 60px;
    margin-left: 30px;
  }
  @media screen and (max-width: $lg) {
    line-height: 30px;
    padding-inline: 60px;
    margin-left: 0px;
    margin-bottom: 20px;
  }
}

.ed-course-intro {
  // height: 1800px;
}
// .ed-course-intro div {
// }
// .ed-course-intro:after {
//   content: '';
//   clear: both;
//   display: table;
// }
.ed-course-title {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-left: 6rem;
  @media screen and (max-width: 1440px) {
    width: 40%;
  }
  @media screen and (max-width: $lg) {
    width: 100%;
    margin-left: 0;
    margin-top: 1rem;
  }
}

.gallery {
  background-color: #dfd0af;
  display: grid;
  grid-auto-flow: dense;
  grid-template-columns: repeat(6, 120px);
  grid-gap: 8px;
  padding: 8px;
  width: 100%;
  height: 790px;
  margin-top: 40px;
  // padding: 8px;
  @media screen and (max-width: 1440px) {
    margin-top: 20px;
    grid-template-columns: repeat(6, 100px);
    height: 700px;
  }
  @media screen and (max-width: $lg) {
    margin-top: 20px;
    grid-template-columns: repeat(6, 100px);
    height: 850px;
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 1;
    transition: 1s;
    &:hover {
      opacity: 1;
    }
  }
  &:hover {
    img:not(:hover) {
      opacity: 0.4;
      filter: grayscale(1);
    }
  }
  &[data-active-group='group1'] {
    .group-1 {
      &:hover,
      &:not(:hover) {
        opacity: 1;
        filter: none;
      }
    }
    img:not(.group-1) {
      opacity: 0.4;
      filter: grayscale(1);
    }
  }
  &[data-active-group='group2'] {
    .group-2 {
      &:hover,
      &:not(:hover) {
        opacity: 1;
        filter: none;
      }
    }
    img:not(.group-2) {
      opacity: 0.4;
      filter: grayscale(1);
    }
  }
  &[data-active-group='group3'] {
    .group-3 {
      &:hover,
      &:not(:hover) {
        opacity: 1;
        filter: none;
      }
    }
    img:not(.group-3) {
      opacity: 0.4;
      filter: grayscale(1);
    }
  }
}
.gallery_img-1x1 {
  grid-column-end: span 1;
  grid-row-end: span 1;
  aspect-ratio: 1/1;
}
.gallery_img-2x1 {
  grid-column-end: span 2;
  grid-row-end: span 1;
  aspect-ratio: 2/1;
}
.gallery_img-1x2 {
  grid-column-end: span 1;
  grid-row-end: span 2;
  aspect-ratio: 1/2;
}
.gallery_img-2x2 {
  grid-column-end: span 2;
  grid-row-end: span 2;
  aspect-ratio: 2/2;
}
.course-category {
  color: $color--primary;
  font-size: 24px;
  text-align: center;
  padding: 20px;
  letter-spacing: 10px;
}

@mixin btn-color {
  color: $color--primary;
  border-radius: 0px;
  width: 70px;
  font-size: 20px;
  z-index: 5;
  @media screen and (max-width: $lg) {
    width: 70px;
  }
  &:hover {
    color: white;
  }
}
.btn-color-1 {
  @include btn-color;
  border-color: #dfd0af !important;
}
.btn-color-2 {
  @include btn-color;
  border-color: #cbb48b !important;
}
.btn-color-3 {
  @include btn-color;
  border-color: #845635 !important;
}
.btn-color-4 {
  @include btn-color;
  width: 120px;
  margin-left: 10px;
  color: #fff;
  border: 1px solid #808080;
  background-color: $color--secondary !important;
}
.ed-my-md-5 {
  margin-top: 70px;
  @media screen and (max-width: 1440px) {
    margin-top: 10px;
  }
  @media screen and (max-width: $lg) {
    margin-top: 0px;
  }
}
.ed-course-enter {
  position: relative;
  left: -65px;
  @media screen and (max-width: 1440px) {
    left: -100px;
  }
  @media screen and (max-width: $lg) {
    left: 0px;
  }
}
.ed-h6-resize {
  width: 300px;
}
.arrow {
  rotate: 90deg;
  width: 30%;
  position: relative;
  left: 40px;
  @media screen and (max-width: 1440px) {
    position: relative;
    left: 30px;
    width: 25%;
  }
  @media screen and (max-width: $lg) {
    position: relative;
    left: 30px;
    rotate: 180deg;
    width: 25%;
  }
}
.slogan {
  text-align: start;
  font-weight: normal;
  font-size: 18px;
  color: $color--primary;
  @media screen and (max-width: $lg) {
    font-size: 16px;
    text-align: center;
  }
}

div.my-4.d-md-flex a:hover {
  color: white;
}
.ed-course-index {
  position: absolute;
  top: -35px;
  left: -90px;
  @media screen and (max-width: $lg) {
    top: -60px;
    left: -20px;
  }
}

.ed-bg-circle {
  width: 400px;
  height: 400px;
  position: absolute;
  top: calc(100vh - 200px);
  right: 0px;
  z-index: 3;
  opacity: 0.5;
  background: radial-gradient(
      circle at center,
      rgba(181, 75, 51, 0.5) 0%,
      transparent 40%
    ),
    radial-gradient(
      circle at center,
      rgba(181, 75, 51, 0.3) 40%,
      transparent 70%
    ),
    radial-gradient(
      circle at center,
      rgba(181, 75, 51, 0.1) 70%,
      transparent 100%
    );
  border-radius: 50%;
  filter: blur(10px);
}
.ed-bg-circle02 {
  width: 500px;
  height: 500px;
  position: absolute;
  top: 1530px;
  left: 0px;
  z-index: 3;
  opacity: 0.5;
  background: radial-gradient(
      circle at center,
      rgba(181, 75, 51, 0.5) 0%,
      transparent 40%
    ),
    radial-gradient(
      circle at center,
      rgba(181, 75, 51, 0.3) 40%,
      transparent 70%
    ),
    radial-gradient(
      circle at center,
      rgba(181, 75, 51, 0.1) 70%,
      transparent 100%
    );
  border-radius: 50%;
  filter: blur(10px);
  @media screen and (max-width: $lg) {
    width: 200px;
    height: 200px;
  }
}

.ed-bg-circle03 {
  width: 400px;
  height: 400px;
  position: absolute;
  top: 2000px;
  right: 0px;
  z-index: 3;
  opacity: 0.5;
  background: radial-gradient(
      circle at center,
      rgba(181, 75, 51, 0.5) 0%,
      transparent 40%
    ),
    radial-gradient(
      circle at center,
      rgba(181, 75, 51, 0.3) 40%,
      transparent 70%
    ),
    radial-gradient(
      circle at center,
      rgba(181, 75, 51, 0.1) 70%,
      transparent 100%
    );
  border-radius: 50%;
  filter: blur(10px);
  @media screen and (max-width: $lg) {
    width: 300px;
    height: 300px;
    top: 5420px;
  }
}

@media (max-width: $lg) {
  .ed-course-intro {
    display: flex;
    flex-direction: column;
  }
  .ed-index-course {
    margin-top: 30px;
  }
  .gallery {
    width: 100%;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 6px;
    padding: 6px;
    z-index: 4;
  }
}

@media (max-width: $lg) {
  .slick-slider {
    width: 390px;
    height: calc(100vh - 120px);
    overflow: hidden;
  }
  .slick-dots {
    right: 0px;
    bottom: 4%;
    transform: translateY(50%);
    flex-direction: column;
    left: auto;

    & li {
      margin-inline: 7px;

      & button:before {
        font-size: 16px;
      }
      & button:hover:before {
        color: #eee5d0;
      }

      &.slick-active {
        & button:before {
          color: #eee5d0;
        }
      }
    }
  }

  #s1 {
    content: url('http://localhost:3000/index-image/s1-m.png');
  }
  #s2 {
    content: url('http://localhost:3000/index-image/s2-m.png');
  }
  #s3 {
    content: url('http://localhost:3000/index-image/s3-m.png');
  }
  #s4 {
    content: url('http://localhost:3000/index-image/s4-m.png');
  }
  #s5 {
    content: url('http://localhost:3000/index-image/s5-m.png');
  }
  #s6 {
    content: url('http://localhost:3000/index-image/s6-m.png');
  }
  .ed-position-absolute {
    width: 280px !important;
    height: auto;
    top: calc(50% - 150px);
    left: calc(50% - 140px);
  }
  #company-buy {
    width: 390px;
    content: url('http://localhost:3000/index-image/company-buy-mobile.png');
  }
  .ed-index {
    margin-top: 30px;
  }
  .hot-product {
    font-size: 20px;
    text-align: center;
    padding: 20px;
    letter-spacing: 10px;
  }
  .course-category {
    font-size: 20px;
    text-align: center;
    padding: 20px;
    letter-spacing: 10px;
  }
  .ed-orgin-text {
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 2px;
  }
  .ed-orgin-img {
    width: 70%;
    height: auto;
  }
}

.ed-bg1 {
  position: absolute;
  top: calc(100vh - 200px);
  left: calc(50% - 180px);
  z-index: 3;
  opacity: 0.5;
}

.ed-bg2 {
  position: absolute;
  top: calc(100vh - 800px);
  left: 160px;
  z-index: 3;
  opacity: 0.5;
}

.fullscreen-container {
  position: fixed;
  top: 0;
  left: -100%;
  bottom: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0);
  transition: left 0.5s, background-color 0.5s;
  z-index: 1000;
}

.fullscreen-container.open {
  left: 0;
  background-color: #f0ebe2;
}

.ed-zindex {
  z-index: 6;
}

.swiper-button-prev,
.swiper-button-next {
  font-weight: 900;
  color: $color--secondary !important;
}

.ed-page {
  &-link {
    color: $color--primary;
    font-size: 16px;
    text-align: center;
    padding: 10px;
    border: 1px solid $color--gray5;
    color: $color--primary;
    margin-bottom: 20px;
    &.disabled {
      pointer-events: none;
    }
    &.active {
      background-color: $color--secondary;
      color: white;
    }

    &:hover {
      background-color: $color--secondary;
      color: white;
    }
  }
  &-item {
    &.disabled {
      pointer-events: none;
    }
  }
}

.ed-hot-content {
  padding-inline: 0px;
  @media screen and (max-width: $lg) {
    padding-inline: 36px;
  }
}

.ed-content-size {
  width: 980px;
  @media screen and (max-width: $lg) {
    width: 100%;
  }
}

.ed-btn-group {
  button {
    width: 2.5rem;
    height: 2.5rem;
    color: $color--primary;
    background-color: #f0ebe2;
    border: 1px solid $color--primary;
  }
  button.quantityMinus,
  button.quantityAdd {
    &:hover,
    &:active {
      color: $color--white;
      background-color: $color--secondary;
      border: px solid $color--primary;
    }
  }

  span.forminput {
    width: 3.5rem;
    height: 2.5rem;
    background-color: #f0ebe2;
    border-block: 1px solid $color--primary;
    border-inline: 0px;
  }
}
