
$color--secondary: #FF9B1A;
$color--card-background:#CBB48B;
$color--primary: #1c262c;
$color--background: #f2f2f2;
$color--hover: #364047;

.course-bg{
  background-color: $color--background;
}


//---------------------Card
.course-li {
    list-style: none; 
    margin: 0; 
    padding: 0;
  }

.img-bg{
    background-color: $color--card-background;
}
.price{
    color:$color--secondary
  }



  


  //-------------------SideBar



  //-------------------btn
  .btn-add{
    background-color: $color--secondary;
  }

  .btn-check{
    background-color: $color--primary;
  }

  
    .active{
      outline: $color--hover;
      background-color: $color--primary;
      color:white;
    }
  

 .course-intro{
  li{
    list-style-type: disc;
 }
}

