.hw-detail-left {
  position: relative;
  width: 100%;
  $_: &;
  // .hw-like-btn{
  //     position: absolute;
  //     top:8px
  // }
}

.hw-image-main {
  // padding-top: 8px;
  width: 320px;
  height: 320px;
  border: 10px solid #dfd0af;
  margin-bottom: 10px;
}

.hw-detail-left img {
  object-fit: cover;
}

.hw-fav-btn {
    $_: &;
    background: #dfd0af;
    border: none;
  
    position: absolute;
    top: 0;
    right: 0;
    clip-path: polygon(100% 100%, 0% 0%, 100% 0%);
  
    cursor: pointer;
  
    transition: $transition;
    &__icon {
      position: relative;
      top: 6px;
      color: white;
      cursor: pointer;
    }
    &__text {
      margin-left: 0.25rem;
      @include text--small;
      @include cursor(pointer);
    }
    &--medium {
      width: 4rem;
      height: 4rem;
  
      display: flex;
      justify-content: flex-end;
      align-items: flex-start;
  
      #{$_}__icon {
        font-size: 1.5rem;
      }
    }
    &--large {
      width: 4rem;
      height: 4rem;
      // background: transparent;
      top: 10px;
      right: 0px;
  
      display: flex;
      justify-content: flex-end;
      align-items: flex-start;
  
      #{$_}__icon {
        top: 4px;
        right: -2px;
        font-size: 2rem;
      }
    }
    @media screen and (max-width: $md) {
      width: 4rem;
      height: 4rem;
  
      align-items: center;
      #{$_}__icon {
        font-size: 1.25rem;
      }
      &--large {
        top: 50px;
        right:10px
      }

      #{$_}__icon {
        top: -7px;
        right: -2px;
        font-size: 1.5rem;
      }
    }
    &--icon-text {
      width: max-content;
  
      display: flex;
      align-items: center;
  
      right: 0.75rem;
      @media screen and (max-width: $md) {
        width: max-content;
        top: 0.5rem;
        right: 0;
      }
    }
    &.active {
      #{$_}__icon {
        color: $color--error;
        box-shadow: none;
        &::before {
        }
      }
    }
  }

  .hw-description-text{
    white-space: nowrap;
    overflow: hidden; 
  text-overflow: ellipsis;
  -webkit-line-clamp: 3; 
  }