.on {
    color: gold;
  }
  
  .off {
    color: gray;
  }
  
  .good-style{
    color:red;
  }
  
  .star-btn{
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
  }

  