@use 'sass:math';
.desk {
  $range-base: 45deg;
  $number-of-cards: 10;
  $rotation-range: $range-base * 2;
  $rotation-step: $rotation-range / ($number-of-cards - 1);
  $translate-distance: -50px;
  background-image: url(../public/divination-image/bg2.png),
    url(../public/divination-image/wrap12.png);
  background-position: -17% bottom, right -100px;
  background-repeat: no-repeat;
  background-size: 30% auto, 40% auto;
  position: relative;
  background-color: $color--background;
  .mask {
    width: 100%;
    height: 250px;
    // background-color: #ffffff64;
    position: absolute;
    bottom: 0px;
    z-index: 2;
  }
  .game {
    position: relative;
    //   outline: 1px solid red;
    height: 850px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    //   padding-top: 500px;
    .textArea {
      text-align: center;
      padding-block: 20px;
      h2 {
        color: $color--success;
      }
      h5 {
        background-image: url(../public/divination-image/e0874_1.svg);
        background-size: 100% 100%;
        background-repeat: no-repeat;
        padding: 53px 40px 25px 40px;
        line-height: 150%;
        color: $color--gray1;
        // background-color: #ffffff77;
      }
      button {
        font-size: 20px;
        margin-top: 50px;
        padding: 15px 60px;
        background-color: $color--success;
        border: none;
        color: #fff;
        transition: 0.4s;
        &:hover,
        &:active {
          background-color: $color--primary;
        }
      }
    }
    .post {
      position: absolute;
      width: 200px;
      height: 300px;
      background-color: #d1d1d1;
      border-radius: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .post1 {
      margin-bottom: 450px;
    }
    .post2 {
      margin-left: 450px;
    }
    .post3 {
      margin-left: -450px;
    }
    .tarotCard {
      background: transparent;
      position: absolute;
      width: 200px;
      height: 300px;
      border-radius: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      bottom: -100px;
      transform-origin: center calc(100% + 100px);
      perspective: 500px;
      transition: 0.5s;

      .content {
        position: absolute;
        width: 100%;
        height: 100%;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
        transition: transform 1s;
        transform-style: preserve-3d;
        border-radius: 16px;
        .front {
          position: absolute;
          height: 100%;
          width: 100%;
          text-align: center;
          border-radius: 5px;
          backface-visibility: hidden;
          &::after {
            content: '';
            position: absolute;
            left: 0px;
            top: 0px;
            width: 100%;
            height: 100%;
            border-radius: 16px;
            overflow: hidden;
            background: $color--success;
            background-image: url(../public/divination-image/tarot_cardback_goldline.png);
            background-position: center center;
            background-size: cover;
          }
        }
        .back {
          position: absolute;
          height: 100%;
          width: 100%;
          color: #333333;
          background-color: #fff;
          text-align: center;
          font-size: 16px;
          font-weight: 700;
          border-radius: 15px;
          backface-visibility: hidden;
          transform: rotateY(180deg);
          border-radius: 10px;
          display: flex;
          justify-content: center;
          align-items: center;
          .cardBackIndex {
            width: 100%;
            height: calc(100% - 20px);
            display: flex;
            flex-direction: column;
            align-items: center;
            .cardImage {
              width: calc(100% - 20px);
              height: calc(100% - 20px);
              display: flex;
              justify-content: center;
              img {
                width: 50%;
              }
            }
            .cardBackText {
              display: block;
              background-color: #dfd0af;
              width: calc(100% - 20px);
              padding-block: 10px;
              border-radius: 0px 0px 10px 10px;
            }
          }
          &::before {
            content: '';
            transition: 0.5s;
            position: absolute;
            left: 10px;
            top: 10px;
            width: calc(100% - 20px);
            height: calc(100% - 20px);
            border: 3px solid #dfd0af;
            border-radius: 10px;
            background: transparent;
          }
        }
      }

      .active {
        transform: rotateY(180deg);
        transition: transform 0.5s;
      }
      .pickup {
        margin-bottom: 100px;
      }
    }
    .forward1 {
      transition: all 0.5s;
      bottom: 60px;
    }
    .forward12 {
      bottom: 260px;
      margin-left: -750px;
    }
    .forward2 {
      transition: all 0.5s;
      bottom: 60px;
    }
    .forward22 {
      bottom: 260px;
      margin-left: -250px;
    }
    .forward3 {
      transition: all 0.5s;
      bottom: 60px;
    }
    .forward32 {
      bottom: 260px;
      margin-left: 250px;
    }
    .forward4 {
      transition: all 0.5s;
      bottom: 60px;
    }
    .forward42 {
      bottom: 260px;
      margin-left: 750px;
    }
    @for $i from 1 through $number-of-cards {
      $rotation-angle: $range-base * -1 + $rotation-step * ($i - 1);
      .tarotCard#{$i}Active {
        transition: transform 0.5s;
        transform: rotate($rotation-angle);
      }
      .tarotCard#{$i}pickup {
        $translate-x: $translate-distance * math.sin($rotation-angle);
        $translate-y: $translate-distance * math.cos($rotation-angle);
        transform: rotate($rotation-angle)
          translateX(#{$translate-x})
          translateY(#{$translate-y});
      }
    }
    .canSelect {
      .back {
        &:hover {
          cursor: pointer;
        }
        &:hover::before,
        &:before {
          background: linear-gradient(
              0deg,
              rgba(255, 225, 191, 0.745),
              transparent 25%
            ),
            linear-gradient(120deg, rgba(255, 255, 255, 0), transparent),
            linear-gradient(240deg, rgba(255, 255, 255, 0.084), transparent);
          background-size: 100% 100%;
          animation: gradient 5s ease-in-out infinite;
          background-attachment: fixed;
        }

        @keyframes gradient {
          0% {
            background-position: 50% 50%;
            background-size: 100% 100%;
          }

          50% {
            background-position: 0% 0%;
            background-size: 200% 200%;
          }

          75% {
            background-position: 100% 0%;
            background-size: 200% 200%;
          }

          100% {
            background-position: 50% 50%;
            background-size: 100% 100%;
          }
        }
      }
    }
  }

  /* ----------------------------------------------
 * Generated by Animista on 2023-9-26 14:36:24
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
  /**
 * ----------------------------------------
 * animation scale-in-top
 * ----------------------------------------
 */
  .scale-in-top {
    -webkit-animation: scale-in-top 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275)
      1s both;
    animation: scale-in-top 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) 1s both;
  }

  @-webkit-keyframes scale-in-top {
    0% {
      -webkit-transform: scale(0);
      transform: scale(0);
      -webkit-transform-origin: 50% 0%;
      transform-origin: 50% 0%;
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(1);
      transform: scale(1);
      -webkit-transform-origin: 50% 0%;
      transform-origin: 50% 0%;
      opacity: 1;
    }
  }
  @keyframes scale-in-top {
    0% {
      -webkit-transform: scale(0);
      transform: scale(0);
      -webkit-transform-origin: 50% 0%;
      transform-origin: 50% 0%;
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(1);
      transform: scale(1);
      -webkit-transform-origin: 50% 0%;
      transform-origin: 50% 0%;
      opacity: 1;
    }
  }
  /**
 * ----------------------------------------
 * animation scale-out-top
 * ----------------------------------------
 */
  .scale-out-top {
    -webkit-animation: scale-out-top 0.5s cubic-bezier(0.6, -0.28, 0.735, 0.045)
      both;
    animation: scale-out-top 0.5s cubic-bezier(0.6, -0.28, 0.735, 0.045) both;
  }
  @-webkit-keyframes scale-out-top {
    0% {
      -webkit-transform: scale(1);
      transform: scale(1);
      -webkit-transform-origin: 50% 0%;
      transform-origin: 50% 0%;
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(0);
      transform: scale(0);
      -webkit-transform-origin: 50% 0%;
      transform-origin: 50% 0%;
      opacity: 1;
    }
  }
  @keyframes scale-out-top {
    0% {
      -webkit-transform: scale(1);
      transform: scale(1);
      -webkit-transform-origin: 50% 0%;
      transform-origin: 50% 0%;
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(0);
      transform: scale(0);
      -webkit-transform-origin: 50% 0%;
      transform-origin: 50% 0%;
      opacity: 1;
    }
  }
  /**
 * ----------------------------------------
 * animation flip-in-hor-bottom
 * ----------------------------------------
 */
  .flip-in-hor-bottom {
    -webkit-animation: flip-in-hor-bottom 1s ease-in 2s both;
    animation: flip-in-hor-bottom 1s ease-in 2s both;
  }
  @-webkit-keyframes flip-in-hor-bottom {
    0% {
      -webkit-transform: rotateX(80deg);
      transform: rotateX(80deg);
      opacity: 0;
    }
    100% {
      -webkit-transform: rotateX(0);
      transform: rotateX(0);
      opacity: 1;
    }
  }
  @keyframes flip-in-hor-bottom {
    0% {
      -webkit-transform: rotateX(80deg);
      transform: rotateX(80deg);
      opacity: 0;
    }
    100% {
      -webkit-transform: rotateX(0);
      transform: rotateX(0);
      opacity: 1;
    }
  }
}
.TarotResult {
  .result {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-block: 60px;
    background-image: url(../public/divination-image/wrap10_680.png),
      url(../public/divination-image/wrap6.png);
    background-position: left bottom, right -100px;
    background-repeat: no-repeat;
    background-size: auto 70%, auto 80%;
    position: relative;
    background-color: $color--background;
    .resultCard {
      position: relative;
      max-width: 1000px;
      background-color: #dbdbdbc1;
      border: 6px solid $color--success;
      padding: 20px;
      // box-shadow: 10px 10px 42px 0 rgba(0, 0, 0, 0.75);
      .lottie {
        width: 600px;
      }
    }

    .title {
      h2 {
        text-align: center;
        color: $color--success;
        margin-bottom: 60px;
      }
      p {
        max-width: 600px;
        font-size: 20px;
        line-height: 200%;
        span {
          color: $color--success;
          background-color: rgb(235 235 235);
          margin: 10px;
          padding: 0.5rem;
          border-radius: 0.5rem;
        }
      }
    }
  }
  .swiperTitle {
    h2 {
      padding: 10px 30px;
      border-block: 3px solid $color--primary;
    }
  }
  .box {
    height: 600px;
    padding-inline: 40px;
    background-image: url(../public/divination-image/bg2.png);
    background-position: -30% bottom;
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-color: #d6d6d672;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-block: 40px;
    .ratio {
      height: 500px;
      width: 500px;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .productText {
      height: 100%;
      max-width: 400px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      h4 {
        line-height: 150%;
      }
      h5 {
        line-height: 150%;
      }
      button {
        border: none;
        font-size: 20px;
        width: 170px;
        height: 40px;
        color: white;
        background-color: rgb(181, 75, 51);
      }
    }
  }
  .swiper-button-next,
  .swiper-button-prev {
    color: rgb(181, 75, 51) !important;
  }
}
@media (max-width: 720px) {
  .desk {
    background-image: none;
    .mask {
      height: 150px;
    }
    .game {
      height: 820px;
      .tarotCard .content .back .cardBackIndex .cardBackText {
        font-size: 13px;
      }
      .textArea {
        text-align: center;
        padding-block: 5px;

        h2 {
          margin-bottom: 0px;
        }
        h5 {
          padding: 48px 15px 10px;
        }
      }
      .tarotCard {
        width: 160px;
        height: 240px;
      }
      .forward12 {
        bottom: 400px;
        margin-left: -190px;
      }
      .forward22 {
        bottom: 400px;
        margin-left: 190px;
      }
      .forward32 {
        bottom: 150px;
        margin-left: -190px;
      }
      .forward42 {
        bottom: 150px;
        margin-left: 190px;
      }
    }
  }
  .TarotResult {
    .result {
      background-image: none;
      .resultCard {
        width: 100%;
        .lottie {
          width: 100%;
        }
      }
    }
    .box {
      background-image: none;
      height: calc(100vh - 60px);
      flex-direction: column;
      align-items: top;
      .ratio {
        width: 100%;
        height: auto;
      }
      .productText {
        h6 {
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: 4;
          -webkit-box-orient: vertical;
        }
      }
    }
  }
}
