.rj_FavBtn {
  border: none;
  font-size: 14px;
  color: $color--secondary;
  border: 1px solid $color--secondary;
  background-color: transparent;
  &:hover {
    color: white;
    background-color: $color--secondary;
  }
}
.mapSwalCityBtn {
  top: -70px;
  right: 10px;
  padding-block: 12px;
}
.mapSwalAction {
  width: 90%;
}
.mapSwalPopup {
  width: 370px;
}
.mapArea {
  height: calc(100vh - 80px);
  background-color: $color--background;
  position: relative;
  display: flex;
  overflow: hidden;
  &.loading {
    position: absolute;
    z-index: 5;
    width: 100%;
  }
}

.map {
  width: 100%;
  height: 100%;
  z-index: 0;
}

.mapControl {
  position: absolute;
  z-index: 1;
  right: 60px;
  top: 10px;
  display: flex;
  .rangeSelect {
    border: 2px solid $color--primary;
    background-color: $color--primary;
    display: flex;
    span {
      color: #ffffff;
      padding-inline: 10px;
    }
    select {
      padding-inline: 10px;
      height: 100%;
      border: none;
      border-radius: 0;
    }
    svg {
      color: #ffffff;
      width: 30px;
      height: 30px;
      padding: 5px;
    }
  }
  .locateBtn {
    padding: 0;
    background-color: $color--white;
    svg {
      color: $color--primary;
      width: 30px;
      height: 30px;
      padding: 5px;
    }
    &:hover,
    &:active,
    &:focus-visible {
      background-color: $color--gray5;
    }
  }
}
.mapAsideBar {
  width: 72px;
  flex-shrink: 0;
  height: 100px;

  button {
    transition: 0.3s;
    width: 100%;
    background-color: transparent;
    padding: 10px 10px;
    margin: 20px 0px;
    justify-content: center;
    align-items: flex-start;
    border: none;
    border-right: 3px solid transparent;
    &.active {
      border-right: 3px solid $color--primary;
    }
  }
}

.mapAsideInfo {
  width: 360px;
  z-index: 1;
  flex-shrink: 0;
  height: 100%;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  position: relative;
  height: 100%;
  a {
    color: #058db8;
  }

  select {
    border: 1px solid $color--primary;
    padding-inline: 5px;
    text-align: center;
  }
  .cafeItem {
    * {
      cursor: pointer !important;
    }
    transition: 0.3s;
    background: none;
    text-align: start;
    width: 100%;
    &:hover {
      background-color: rgba(186, 200, 206, 0.3);
    }
    // margin-block: 10px;
    // border-bottom: solid 1px black;
    p {
      width: 100%;
      display: flex;
      justify-content: space-between;
      svg {
        margin-right: 3px;
      }
    }
    h4 {
      line-height: 150%;
    }
  }
  .distanceText {
    background: #ccc;
    font-size: 16px;
    padding: 3px 10px;
  }
  .cafeInfo {
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.25);
    background-color: $color--background;
    overflow-y: auto;
    // scrollbar-gutter: stable;
    height: calc(100% - 40px);
    position: absolute;
    padding: 20px 24px;
    width: 380px;
    margin-block: 20px;
    transition: 0.3s;
    left: 380px;
    border-radius: 20px;
    z-index: 2;
    svg {
      width: 27px;
      height: 27px;
      padding: 3px;
      flex-shrink: 0;
    }
    h4 {
      padding-block: 10px;
      line-height: 150%;
    }
    .cafeRating {
      border-top: solid 1px black;
      border-bottom: solid 1px black;
      padding: 20px 0px;
      width: 100%;
      margin-top: 10px;
      display: flex;
      flex-wrap: wrap;
      row-gap: 20px;
      span {
        display: flex;
        flex-direction: row;
        width: 50%;
        justify-content: space-between;
        padding: 0px 4px;
        align-items: center;
        flex-wrap: nowrap;
        > div {
          text-align: center;
          line-height: 27px;
        }
      }
    }
    .cafeInfos {
      border-bottom: solid 1px black;
      padding: 20px 0px;
      max-width: 100%;
      display: flex;
      flex-direction: column;
      row-gap: 20px;
      * {
        align-items: center;
      }
      h6 {
        padding-left: 10px;
        word-wrap: break-word;
        word-break: break-all;
      }
    }
  }
  .cafeFilter {
    background-color: $color--background;
    overflow-y: auto;
    scrollbar-gutter: stable;
    height: 100%;
    padding: 20px 24px;
    width: 360px;
    transition: 0.3s;

    .cafeFilterForm {
      border-bottom: solid 1px black;
      overflow: hidden;
      > div {
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding-inline: 7px;
      }
      .map-slider {
        width: 45%;
        height: 25px;
      }

      .mapThumb {
        height: 25px;
        line-height: 25px;
        width: 25px;
        text-align: center;
        background-color: $color--secondary;
        color: #fff;
        border-radius: 50%;
        cursor: grab;
        &:hover,
        &:active,
        &:focus-visible {
          outline: 0px solid transparent;
          box-shadow: 0 0 0 4px rgba(244, 148, 96, 0.504);
        }
      }

      .mapTrack {
        top: 10px;
        bottom: 0;
        background: #ddd;
        height: 5px;
      }
      .mapTrack-1 {
        background: $color--secondary;
      }

      button {
        width: 100%;
        border: none;
        color: $color--white;
        background-color: $color--secondary;
        padding-block: 10px;
        &:hover {
          background-color: $color--primary;
        }
      }

      svg {
        width: 24px;
        height: 24px;
        margin: 3px;
      }
    }
  }
}
@media (max-width: 720px) {
  .mapArea {
    height: calc(100vh - 100px);
    position: relative;
    flex-direction: column-reverse;

    .mapAsideBar {
      background-color: $color--background;
      height: 50px;
      display: flex;
      z-index: 3;
      width: 100%;
      box-shadow: -10px 0px 4px 0px rgba(0, 0, 0, 0.25);

      button {
        width: 100%;
        margin: 0px;
        align-items: flex-start;
        border: none;
        border-top: 3px solid transparent;
        &.active {
          border-top: 3px solid $color--primary;
        }
      }
    }
    .mapAsideInfo {
      height: 50vh;
      width: 100%;
      padding: 0;
      box-shadow: -10px 0px 4px 0px rgba(0, 0, 0, 0.25);

      > div {
        width: 100%;
      }
      .cafeInfo {
        left: 0px;
        width: 100%;
        height: 100%;
        margin-block: 0px;
        border-radius: 20px 20px 0px 0px;
      }
    }
  }
  .leaflet-control-attribution {
    font-size: 12px;
  }
}
