.mapArea {
  height: calc(100vh - 166px); // 166px = header + footer height
  background-color: #f2f3ee;
  position: relative;
  display: flex;
  overflow: hidden;
}

.map {
  width: 100%;
  height: 100%;
  z-index: 0;
}

.mapControl {
  position: absolute;
  z-index: 1;
  right: 80px;
  top: 10px;
}
.mapAsideBar {
  width: 80px;
  height: 100px;

  button {
    padding: 10px 10px;
    margin: 20px 0px;
    justify-content: center;
    align-items: flex-start;
    border: none;
  }
}

.mapAsideInfo {
  overflow-y: auto;
  min-width: 360px;
  max-width: 360px;
  height: 100%;
  padding: 20px 24px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  .cafeList {
    .cafeItem {
      * {
        cursor: pointer !important;
      }
      background: none;
      text-align: start;
      width: 100%;
      &:hover {
        background-color: rgba(186, 200, 206, 0.3);
      }
      // margin-block: 10px;
      // border-bottom: solid 1px black;
      p {
        width: 100%;
        display: flex;
        justify-content: space-between;
        svg {
          margin-right: 3px;
        }
      }
    }
  }
  .cafeInfo {
    svg {
      width: 27px;
      height: 27px;
      padding: 3px;
    }
    h4 {
      padding-block: 10px;
    }
    .cafeRating {
      border-top: solid 1px black;
      border-bottom: solid 1px black;
      padding: 20px 0px;
      width: 100%;
      margin-top: 10px;
      display: flex;
      flex-wrap: wrap;
      row-gap: 20px;
    }
    span {
      display: flex;
      flex-direction: row;
      width: 50%;
      justify-content: space-between;
      padding: 0px 5px;
      align-items: center;
      flex-wrap: nowrap;
    }
    .cafeInfos {
      border-bottom: solid 1px black;
      padding: 20px 0px;
      max-width: 100%;
      display: flex;
      flex-direction: column;
      row-gap: 20px;
      * {
        align-items: center;
      }
      h6 {
        width: 280px;
        word-wrap: break-word;
      }
    }
  }
}
