nav{
  height: 66px;
  top: -64px !important;
}

a.dropdown-item.active{
  background-color: $color--primary !important;
  color: #ffffff !important;
}

.ed-bar{
  white-space: nowrap;
}

@media screen and (min-width: 600px) {
nav.bg-dark{
  background-color: $color--primary !important;
}


}
a.nav-link {
  color: #ffffff !important; 
  &:hover {
      color: #ffffff !important;
  }
  &:active{
      color: #ffffff !important;
  }
  &:visited{
      color: #ffffff !important;
  }
}
.ed-padding-x{
  padding-left: 4em;
  padding-right: 3em;
}
.dropdown-menu {
    border: none;
    border-radius: 0;
    padding: 0.7em;
    ul{
      list-style: none;
      padding: 0;
    }
    li{
      .dropdown-item{
        color: gray;
        font-size: 1em;
        padding: 0.5em 1em;
        &:hover{
          color: #ffffff;
          background-color: $color--primary;
        }
      }
      &:first-child{
        a{
          padding-left: 15px;
          font-weight: bold;
          font-size: 1.2em;
        }
        &:hover{
          color: #ffffff;
          background-color: $color--primary;
        }
      }
    }
  }
  a.nav-link{
    padding-block: 32px;
    // height: 63px;
  }
  ul.dropdown-menu{
    top: 74px;
  }
  @media screen and (min-width: 992px) {
    .dropdown:hover .dropdown-menu {
      display: flex;
    }
    .dropdown-menu.show {
      display: flex;
    }
  }
  
@media screen and (max-width: 600px) {
  nav{
    width: 0px;
  }
  .navbar {
    transform: translateY(-27px);
  }
  nav.bg-dark{
    background-color: rgba($color: #000000, $alpha: 1.0)
  }
  a.nav-link {
      padding-block: 10px;
      margin-bottom: 0.5em;
      color: white !important; 
      &:hover {
          color: white !important;
      }
      &:active{
          color: white !important;
      }
      &:visited{
          color: white !important;
      }
  }
  .ed-padding-x{
      padding-left: 1em;
      padding-right: 0em;
      margin-top: 0.5em;
      margin-bottom: 0.5em;
      border-bottom: white solid 0.1px;
    }
    button.navbar-toggler {
      margin-left: 6px;
      padding-inline: 0px;
      border: none;
    }
    ul.navbar-nav {
      width: 300px;
      height: 940px;
      position: absolute;
      top: 91px;
      left: 0px;
      background-color: #333333;
      z-index: 1000;
    }
    .dropdown-menu {
      border: none;
      margin-bottom: 10px;
      background-color:rgba($color: #dadada, $alpha: 0);
      z-index: 999;
      li{
        .dropdown-item{
          color:white;
        }
      }
    }
    .offcanvas-backdrop{
      top:91px;
      z-index: 4 !important;
    }
}

// from menubar
.dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0; 
}
 
@keyframes slideIn {
  0% {
    transform: translateY(0rem);
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.slideIn {
  -webkit-animation-name: slideIn;
  animation-name: slideIn;
  animation-duration: 0.8s;
  animation-fill-mode: both;
}

@keyframes bar {
  0% {
    transform: translateY(0rem);
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.slideIn {
  -webkit-animation-name: slideIn;
  animation-name: slideIn;
  animation-duration: 0.8s;
  animation-fill-mode: both;
}