$color--primary: #1c262c;
$color--background: #f0ebe2;
$color--black: #000000;

//index.js區
.ei-news-container {
  // background-color: $color--background;
  // padding-inline: 50px;
  // max-width: 1400px;
}
//標題直線
.ei-line {
  flex-grow: 0;
  width: 100px;
  height: 1px;
  background-color: $color--primary;
}

@media (max-width: 391px) {
  .mobile-orderby {
    margin-top: 20px;
  }
}

// 卡片區
.news-link {
  text-decoration: none;
  .p {
    color: $color--primary;
  }
  .ei-card-title {
    color: $color--primary;
  }
}

.ei-card-container {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 auto;
  // max-width: 1400px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center !important;
}

.ei-card {
  // width: 80%;
  // max-width: 700px;
  height: 400px;
  margin-inline: 30px;
  margin-top: 30px;
  margin-bottom: 50px;
  box-sizing: border-box;
    // cursor: pointer;
    &:hover {
      opacity: 0.7; /* 設定 hover 時的透明度 */
      transform: scale(1.02);
      // box-shadow: 5px 5px 5px 5px lightgrey;
    
  }

  // 卡片圖片高度
  .custom-image {
    height: 308px;
  }
}

// 卡片日期設定
.ei-create-at {
  font-size: 14px;
  font-weight: 300;
  color: $color--black;
}

// 分類按鈕區
.ei-btn-container {
  margin-inline: 55px;
  button {
    padding-block: 9px;
    padding-inline: 18px;
    background: $color--background;
    color: black;
    border: 1px solid $color--primary;
    font-weight: bold;
    font-size: 14px;
  }
  .active {
    background-color: $color--primary;
    color: white;
    font-weight: bold;
    border: 0px;
  }
}

// 卡片RWD區
@media (max-width: 391px) {
  .ei-mobile-container {
    width: 100%;
  }
  .ei-btn-container {
    margin-top: 10px;
  }
  .ei-mobile-category-btn {
    width: 100%;
    margin-top: 20px;
    // height: 60%;
  }
  .mobile-news-title {
    margin-top: 2rem !important;
  }
  .ei-card {
    max-width: 100%;
    height: 350px !important;
    margin-bottom: 15px !important;
    &:hover {
      transform: none;
      box-shadow: none;
    }
    .ei-card-title {
      line-height: 1.2rem;
    }
  }
  .ei-news-detail {
    width: 100%;
  }
  .ei-mobile-card-margin {
    margin-bottom: 0px !important;
    padding-right: 0 !important;
    padding-left: 0 !important;
    // height: 400px !important;
  }
  // 卡片圖片高度
  .custom-image {
    height: 238px !important;
  }
}
@media (min-width: 391px) {
  .ei-btn-container {
    text-align: left;
  }
}
// @media screen and (max-width: 430px) {
//   .ei-breadcrumb {
//     display: none;
//   }
// }

// [nid].js頁面
.ei-container-nid {
  max-width: 50%;
  margin-bottom: 20px;
}
.ei-row {
  margin-left: 160px;
  margin-block: 30px;
}
.news-detail {
  // width: 90%;
  margin: 0 auto;
  padding-inline: 200px;
  // margin-bottom: 20px;
  img {
    width: 100%;
  }
  .ei-news-date {
    font-size: 14px;
  }
  .ei-letter-spacing {
    line-height: 1.2rem;
    margin-bottom: 40px !important;
  }
}

// [nid].js  RWD區
@media (max-width: 391px) {
  .ei-container-nid {
    padding: 0;
    max-width: 90% !important;
  }
  .news-detail {
    padding-inline: 10px;
  }
  .mobile-news-title {
    // text-align: left !important;
  }
}

// 分頁
.ei-pagination-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.ei-pagination {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 0px;
}

.ei-page-item {
  &.active {
    font-weight: bold;
    background-color: rgb(181 75 51);
    color: white;
    font-weight: bold;
  }

  &.disabled {
    opacity: 0.6;
    pointer-events: none;
  }
}

.ei-page-link {
  text-decoration: none;
  color: $color--primary;
  padding: 5px 10px;
  border: 1px solid $color--primary;
  // border-radius: 4px;
  transition: background-color 0.2s;
  background-color: $color--background;

  &:hover {
    background-color: rgb(181 75 51);
    color: white;
  }
}

.ei-bold-text {
  font-weight: bold;
  color: $color--primary;
}

//優惠券
// .coupon-border {
//   position: relative;
//   padding: 0; /* 去除默认的内边距 */
// }

// .coupon-border .coupon-image {
//   position: absolute;
//   top: 0;
//   left: 0;
//   right: 0;
//   bottom: 0;
//   display: flex;
//   justify-content: center;
//   align-items: center;
// }

// .coupon-border .ticket {
//   font-size: 48px; /* 调整图标大小 */
//   color: #fff; /* 设置图标颜色 */
// }

// .coupon-border img {
//   width: 100%; /* 图片宽度占满父容器 */
//   height: auto;
// }

