.ed-border-card01 {
  border: 10px solid #dfd0af;
}
.ed-border-card02 {
  border: 10px solid #b29e7a;
}
.ed-border-card03 {
  border: 10px solid #845635;
}

.ed-border-none {
  border: none;
}

.card {
  z-index: 10;
}

.ed-card-body-popular {
  border: none;
  --tw-bg-opacity: 1;
  background-color: rgb(240 235 226 / var(--tw-bg-opacity));
}

.ed-card-body {
  border: none;
  padding: 10px 0 0 0;
  --tw-bg-opacity: 1;
  background-color: rgb(240 235 226 / var(--tw-bg-opacity));
}

.ed-card-brand {
  font-size: 12px;
  font-weight: 300;
  padding-left: 2px;
  margin-bottom: 5px;
  line-height: 20px;
}

.ed-card-title {
  height: 70px;
  font-size: 16px;
  line-height: normal;
  font-weight: bold;
  color: $color--primary;
  overflow: hidden;
  @media screen and (max-width: 1440px) {
    line-height: 20px;
  }
  @media screen and (max-width: $lg) {
  }
}

.ed-card-description {
  height: 100px;
  font-size: 15px;
  line-height: normal;
  color: $color--primary;
  overflow: hidden;
  @media screen and (max-width: 1440px) {
    line-height: 20px;
  }
  @media screen and (max-width: $lg) {
    height: 70px;
  }
}

.ed-card-origin-price {
  font-size: 12px;
  color: $color--gray4;
  text-decoration: line-through;
}

.ed-card-price {
  font-weight: bold;
  color: $color--secondary;
}

.ed-icon-size {
  font-size: 20px;
  &:hover {
    color: $color--secondary;
  }
  &.true {
    color: $color--secondary;
  }
}

.popular-left {
  width: 50%;
  z-index: 5;
  margin-right: 20px;
  @media screen and (max-width: 1440px) {
    width: 40%;
    margin-left: 30px;
    margin-right: 20px;
  }
  @media screen and (max-width: $lg) {
    width: 100%;
    margin-left: 0px;
  }
}
.popular-right {
  width: 100%;
  z-index: 5;
  @media screen and (max-width: 1440px) {
    width: 100%;
  }
  @media screen and (max-width: $lg) {
    width: 100%;
  }
}

.ed-popular-marginTop {
  margin-top: 30px;
  @media screen and (max-width: 1440px) {
    margin-top: 90px;
  }
  @media screen and (max-width: $lg) {
    margin-top: 30px;
  }
}

.ed-mt-1440 {
  @media screen and (max-width: 1440px) {
    margin-top: 30px;
  }
}

.ed-popular-padding {
  margin-left: 15px;
  padding: 20px 0 0 0;
  @media screen and (max-width: 1440px) {
    margin-top: 40px;
    padding: 20px 0 0 0;
  }
  @media screen and (max-width: $lg) {
    margin-left: 0px;
    margin-top: 80px;
    padding: 0px;
  }
}

.ed-index-left {
  left: -95px;
  @media screen and (max-width: $lg) {
    left: -20px;
  }
}

.ed-no-product {
  padding-top: 300px;
}

.ed-no-product-arrow {
  position: relative;
  top: 260px;
  left: 250px;
  width: 100px;
  rotate: 180deg;
}

.ed-h6-resize-margin {
  margin-left: 15px;
}

.ed-addCart {
  border: none;
  font-size: 14px;
  width: 100px;
  height: 26px;
  color: $color--secondary;
  border: 1px solid $color--secondary;
  background-color: transparent;
  &:hover {
    color: white;
    background-color: $color--secondary;
  }

  @media screen and (max-width: 1440px) {
    font-size: 16px;
    width: 130px;
    height: 30px;
  }
  @media screen and (max-width: $lg) {
    font-size: 18px;
    width: 170px;
    height: 35px;
  }
}
