.ed-sidebar-left {
  width: 30%;
}
.ed-sidebar-right {
  width: 70%;
}

.ed-detail-left {
  position: relative;
  width: 50%;
  @media screen and (max-width: $lg) {
    width: 100%;
  }

  & img {
    object-fit: cover;
  }
}

// content
.ed-detail-right {
  width: 100%;
}

.ed-image {
  &-gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &-main {
    width: 320px;
    height: 320px;
    border: 10px solid #dfd0af;
    margin-bottom: 10px;
  }
  &-row {
    display: flex;
    gap: 10px;
  }
  &-small {
    width: 100px;
    height: 100px;
    opacity: 0.6;
    cursor: pointer;
  }
}

.ed-detail {
  &-title {
    margin-top: 13px;
    font-size: 24px;
    font-weight: 700;
    line-height: 1.6rem;
  }
  &-brand {
    font-size: 17px;
    font-weight: 600;
    padding-left: 2px;
  }
  &-price {
    font-size: 28px;
    font-weight: 700;
    color: $color--secondary;
  }
  &__list {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 20px;
  }
  &__item {
    font-size: 16px;
    font-weight: 600;
    color: $color--gray2;
    &__descript {
      font-size: 16px;
      padding-left: 10px;
    }
  }
}

.ed-addCart__detail {
  border: none;
  font-size: 20px;
  width: 295px;
  height: 40px;
  color: white;
  padding-left: 20px;
  margin-bottom: 16px;
  background-color: $color--secondary;

  &:hover {
    background-color: $color--primary;
  }
  .fa-shopping-cart {
    margin-left: 120px;
  }
}

.ed-addCart__check {
  border: none;
  font-size: 20px;
  width: 170px;
  height: 40px;
  color: white;
  background-color: $color--secondary;
  &:hover {
    background-color: $color--primary;
  }
}

.ed-activity {
  margin-top: 25px;
  &-title {
    background-color: transparent;
    color: $color--secondary;
    width: 126px;
    padding: 8px;
    border: 2px solid $color--secondary;
    font-size: 17px;
    font-weight: 900;
  }
  &-detail {
    color: $color--primary;
    font-size: 16px;
    padding: 10px;
    line-height: 1.2rem;
    & span {
      font-size: 18px;
      font-weight: 900;
    }
  }
}

.ed-product-intro {
  & h5 {
    font-size: 20px;
    font-weight: 600;
    line-height: 1.8rem;
  }
  & p {
    font-size: 17px;
    line-height: 1.8rem;
    padding-left: 10px;
  }
  &-title {
    font-family: Noto Sans TC, Arial, Helvetica, sans-serif;
    margin-top: 10px;
    padding-block: 6px;
    width: 120px;
    border: 2px solid $color--primary;
    font-size: 20px;
    font-weight: 900;
    margin-bottom: 10px;
  }
  &-detail {
    width: 90%;
    font-size: 17px;
    padding: 10px;
    line-height: 1.4rem;
    @media screen and (max-width: $lg) {
      width: 100%;
    }
    & span {
      font-size: 18px;
      font-weight: 500;
    }
  }
  &-list {
    list-style-type: square;
    padding-left: 28px;
    font-size: 17px;
    line-height: 1.5rem;
  }
}

.modal-content {
  top:60px;
  --tw-bg-opacity: 1;
  background-color: rgb(240 235 226 / var(--tw-bg-opacity));
}


.ed-activity-mobile{
  margin-top: 25px;
  &-title {
    color: $color--secondary;
    width: 126px;
    padding: 8px;
    border: 2px solid $color--secondary;
    font-size: 17px;
    font-weight: 900;
  }
  &-detail {
    color: $color--primary;
    font-size: 16px;
    padding: 10px;
    line-height: 1.2rem;
    & span {
      font-size: 18px;
      font-weight: 900;
    }
  }
}

.ed-addCart__detail-mobile {
  border: none;
  font-size: 16px;
  width: 154px;
  height: 40px;
  color: white;
  padding-left: 20px;
  margin-bottom: 16px;
  background-color: $color--secondary;

  &:hover {
    background-color: $color--primary;
  }
  .fa-shopping-cart {
    margin-left: 10px;
  }
}

.ed-addCart__check {
  border: none;
  font-size: 16px;
  width: 140px;
  height: 40px;
  color: white;
  background-color: $color--secondary;
  &:hover {
    background-color: $color--primary;
  }
}

.upwardModal .modal-dialog {
  animation-name: slideUp;
  animation-duration: 0.3s;
}

@keyframes slideUp {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

.modal-header {
  padding-bottom: 0;
  border-bottom: none;
}
.modal-header .btn-close{
  margin-top: 10px;
  margin-left: 0;
}

.ed-btn-close{
  border: 1px solid $color--secondary;
  background-color: transparent;
  color: $color--secondary;
}

.ed-cursor-pointer{
  cursor: pointer;
}

.ed-price-color{
  color: rgb(181, 75, 51);
}